<configuration scan="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root><!--
    <logger name="dk.statsbiblioteket.medieplatform.newspaper.manualQA.AltoWordAccuracyChecker" level="DEBUG"/>

    <logger name="dk.statsbiblioteket.medieplatform.newspaper.manualQA.AverageHistogram" level="DEBUG"/>

    <logger name="dk.statsbiblioteket.medieplatform.newspaper.manualQA.ChoppyCurveHistogramChecker" level="DEBUG"/>

    <logger name="dk.statsbiblioteket.medieplatform.newspaper.manualQA.DarknessHistogramChecker" level="DEBUG"/>

    <logger name="dk.statsbiblioteket.medieplatform.newspaper.manualQA.EditionModsHandler" level="DEBUG"/>

    <logger name="dk.statsbiblioteket.medieplatform.newspaper.manualQA.EndSpikeHistogramChecker" level="DEBUG"/>

    <logger name="dk.statsbiblioteket.medieplatform.newspaper.manualQA.FilmHandler" level="DEBUG"/>

    <logger name="dk.statsbiblioteket.medieplatform.newspaper.manualQA.HistogramAverageHandler" level="DEBUG"/>

    <logger name="dk.statsbiblioteket.medieplatform.newspaper.manualQA.MissingColorsHistogramChecker" level="DEBUG"/>

    <logger name="dk.statsbiblioteket.medieplatform.newspaper.manualQA.MixHandler" level="DEBUG"/>

-->
</configuration>

